/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('../font/poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/poppins/Poppins-SemiBold.ttf');
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.4vw;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: #1B244C;
    border-radius: 0.6vw;
    border: 0.3vw solid transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
/* Definição do corpo */
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #F5F5FA;
    scroll-behavior: smooth;
}
/* Configuração Padrão */
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #F5F5FA;
}
/* Continuando a sequência de Fibonacci */
.f-1 {font-size: 1px;}
.f-2 {font-size: 2px;}
.f-3 {font-size: 3px;}
.f-5 {font-size: 5px;}
.f-8 {font-size: 8px;}
.f-13 {font-size: 13px;}
.f-21 {font-size: 21px;}
.f-34 {font-size: 34px;}
.f-55 {font-size: 55px;}
.f-89 {font-size: 89px;}
.f-144 {font-size: 144px;}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
}
#forvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
ul,
li {
    margin: 0px;
    list-style-type: none;
}
input {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
}
label {
    margin: 0;
    display: block;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

:root {
    --topbar-background-background: #FFD41C;
    --topbar-background-color: rgb(0, 0, 0);
    --topbar-hover-background: #fee46c;
    
    --paggeral-cards-background: linear-gradient(to top, #ffec99, #ffec99);
    --paggeral-cards-color: rgb(0, 0, 0);
    --paggeral-background-cabecalho: -webkit-linear-gradient(top, #ffe678, #FFD41C);

    --paggeral-color-botao: #fff3bc;
    --paggeral-background-botao: -webkit-linear-gradient(left, #000000, #393939);
    --paggeral-background-botao-hover: -webkit-linear-gradient(right, #000000, #393939);
}

/* Main */
#topBar {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: var(--topbar-background-background);
    color: var(--topbar-background-background);
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 1.5em);
    transition: ease-in-out 0.5s;
    z-index: 3;

}
.logo-Green {
    position: absolute;
    top: 1px;
    padding:1px;
    width: fit-content;
    height: 48px;
    left: 60px;
    cursor: pointer;
}
.logo-Green:hover{
    background-color: var(--topbar-hover-background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
.perfil {
    position: absolute;
    display: flex;
    right: 0;
    width: 270px;
    height: 100%;
    right: 0.7%;
}
.itemperfil{
    flex-grow: 1;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.fullscreen{
    position: relative;
    top: 5px;
    width: 80px;
    height: 40px;
    cursor:pointer;
    color: var(--topbar-background-color);
    text-align: center;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
}
.fullscreen:hover{
    background-color: var(--topbar-hover-background);
    font-size: 13.2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
.ptopco2{
    position: relative;
    top: 5px;
    width: 100px;
    height: 40px;
    cursor:pointer;
    color: var(--topbar-background-color);
}
.ptopco2:hover{
    background-color: var(--topbar-hover-background);
    font-size: 13.2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
.pperfil{
    position: relative;
    top: 5px;
    width: 90px;
    height: 40px;
    cursor:pointer;
    color: var(--topbar-background-color);
}
.pperfil:hover{
    background-color: var(--topbar-hover-background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
.icone-perfil {
    float: right;
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 2px;
    cursor: pointer;
    color: var(--topbar-background-color);
}
.seta-perfil {
    position: relative;
    float: right;
    margin: 4.5px;
    margin-right: 10px;
    padding: 3px;
    top:8px;
    box-shadow: 1px -1px 0 0.5px #000000bb inset;
    border: solid transparent;
    transform: rotate(-45deg);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.topco2-text2{
    position: relative;
    left: 10px;
    width: 80px;
    text-align:center;
    color: #fff;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    padding-top:2px;
    user-select: none;
}
.bell{
    position: relative;
    cursor: pointer; 
    color: var(--topbar-background-color);
    width: 38px;
    top:5px;
    height: 40px;
    user-select:none;
    
}
.bell:hover{
    color: #5dd947;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
    background-color: var(--topbar-hover-background);
}
.bell-avisos{
    position: absolute;
    text-align: center;
    top: 6.4px;
    left: 5.8px;
    width: 26px;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    animation: treme 1s;
    animation-iteration-count: 3;
    color: var(--topbar-background-color);
}
.bell-avisos-qtd{
    position: relative;
    text-align: center;
    top: 13.3px;
    left:-2.3px;
    color: #ffffff;
    z-index: 1; 
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
@keyframes treme {
    0% {rotate: 0deg;}
    25% {rotate: 30deg;}
    50% {rotate: 0deg;}
    75% {rotate: -30deg;}
    100% {rotate: 0deg;}
}
@keyframes treme2 {
    0% {rotate: 0deg;}
    25% {rotate: 30deg;}
    50% {rotate: 0deg;}
    75% {rotate: -30deg;}
    100% {rotate: 0deg;}
}
#menus {
    position: fixed;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    top: 55px;
    right: 25px;
    width: 140px;
    gap: 0.4rem;
    padding: 1.3rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.2vw;
    z-index: 3;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
#menus .flex0 {
    color: #000;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    cursor: pointer;
}
.flex0:hover {
    color: #005da5 !important;
}
#menus .flex1 {
    color: #870202;
    border-top: 0.1vw solid #e6e6e6;
    margin-top: 4%;
    padding-top: 7%;
    padding-left: 8%;
    cursor: pointer;
}
.flex1:hover {
    color: #ca1515 !important;
}

/* Main */
#main {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100%);
    width: calc(100%);
    background-color: #fff;
    z-index: 1;
    transition: ease-in-out 2s;
}
.conteudo {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #fff;
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoEvolucao {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoAcompanhante {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoAgendamento {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoHistorico {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoChat {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}

.conteudoPacientes {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}
.conteudoCalendario {
    position: absolute;
    padding: 1px;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 2;
    overflow-y:hidden;
    transition: ease-in-out 1s;
}


.conteudoCabecalho{
    position: relative;
    padding: 1px;
    width: 100%;
    height: calc(25%);
    background-color: #fff;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    flex-direction: column;
    user-select: none;
}
.conteudoCabecalhoVoltar{
    position: absolute;
    right:5%;
    top:12%;
    height: fit-content;
    width: fit-content;
    padding: 7px;
    background-color: #FFD41C;
    border-radius: 7px;
    text-align: center;
    color: #fff;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.3vw, 5em);
    cursor: pointer;
}
.conteudoCabecalhoVoltar:hover{
    font-size: clamp(0.2em, 0.2em + 1.32vw, 5em);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}
.conteudoCabecalhoBem{
    position: relative;
    min-width: 100%;
    text-align: center;
    color: #0c0c0c;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.7vw, 5em);
}
.conteudoCabecalhoBem2{
    position: relative;
    min-width: 100%;
    text-align: center;
    padding-left:5%;
    padding-right: 5%;
    color: #0c0c0c;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.2vw, 5em);
}
.conteudoTokens{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 100%;
    height: calc(70%);
    z-index: 2;
}
.conteudoTokensCards{
    flex-grow: 1;
    max-width: 19%;
    margin: 5px;
    height: 100%;
    border-top-left-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #FFD41C, #FFD41C);
    user-select: none;
    cursor: pointer;
    color:rgb(255, 255, 255);
}
.conteudoTokensCards:hover{
    background: linear-gradient(to bottom, #FFD41C, #ad8d00);
    max-width: 19.2%;
    box-shadow: rgba(255, 221, 30, 0.25) 0px 1px 1px, rgba(255, 221, 30, 0.12) 0px -1px 5px, rgba(255, 221, 30, 0.12) 0px 1px 2px, rgba(255, 221, 30, 0.17) 0px 2px 2px, rgba(255, 221, 30, 0.09) 0px -1px 2px;
}
.conteudoTokensCardsCabecalho{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: calc(100%-10px);
    height: 20%;
    margin: 5px;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.5vw, 5em);
    background: -webkit-linear-gradient(bottom, #FFD41C2a, #ffe3699d);
    border-radius: 5px;
}
.conteudoTokensCardsCabecalhoContent{
    text-align: center; /* Alinha o texto ao centro horizontalmente */
}
.conteudoTokensCardsImg{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: calc(100%-10px);
    height: 30%;
    margin: 5px;
    font-size: clamp(0.2em, 0.2em + 6vw, 12em);
}
.conteudoTokensCards:hover .conteudoTokensCardsImg{
    animation: treme 1s;
    animation-iteration-count: 1;
}
@keyframes treme {
    0% {rotate: 0deg;}
    25% {rotate: 15deg;}
    50% {rotate: 0deg;}
    75% {rotate: -15deg;}
    100% {rotate: 0deg;}
}
.conteudoTokensCardsConteudo{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: calc(100%-10px);
    height: 30%;
    margin: 5px;
    font-size: clamp(0.2em, 0.2em + 1.2vw, 12em);
    border-radius: 5px;
}
.conteudoTokensCardsConteudoContent{
    text-align: center; /* Alinha o texto ao centro horizontalmente */
}
.conteudoTokensCardsSeta{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: calc(100%-10px);
    height: 10%;
    margin: 5px;
    font-size: clamp(0.2em, 0.2em + 2.5vw, 12em);
}
.conteudoChatContent{
    flex-grow: 1;
    max-width: 90%;
    margin: 5px;
    height: 95%;
    border-radius: 10px;
    background: var(--paggeral-cards-background);
    user-select: none;
    color:var(--paggeral-cards-color);
}
.conteudoAgendamentoContent{
    flex-grow: 1;
    max-width: 46%;
    margin: 5px;
    height: 95%;
    border-radius: 10px;
    background: var(--paggeral-cards-background);
    user-select: none;
    color:var(--paggeral-cards-color);
}
.conteudoAcompanhanteContent{
    flex-grow: 2;
    max-width: 32%;
    margin: 5px;
    height: 95%;
    border-radius: 10px;
    background: var(--paggeral-cards-background);
    user-select: none;
    color:var(--paggeral-cards-color);
}
.conteudoAcompanhanteContentCabecalho{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    width: calc(100%-10px);
    height: fit-content;
    padding: 5px;
    margin: 5px;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.5vw, 5em);
    background: var(--paggeral-background-cabecalho);
    border-radius: 5px;
}
.conteudoAcompanhanteContentLista{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    text-align: center;
    left: 7%;
    width: 86%;
    height: 16%;
    margin: 5px;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.2vw, 5em);
    border-radius: 5px;
}
.conteudoAcompanhanteContentSearch{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    text-align: center;
    width: calc(100%-10px);
    height: 70%;
    margin: 5px;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.2vw, 5em);
    border-radius: 5px;
}
.conteudoAcompanhanteContentSearchc{
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 30%;
    border-radius: 5px;
    background: var(--paggeral-background-botao);
    cursor: pointer;
    color: var(--paggeral-color-botao);
}
.conteudoAcompanhanteContentSearchc:hover{
    background: var(--paggeral-background-botao-hover);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -1px 5px, rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.17) 0px 2px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
}


/* Perfil */
.modal1 {
    position: fixed;
    top: 5%;
    left: 30%;
    height: 90%;
    width: 40%;
    gap: 0.4rem;
    padding: 1.3rem;
    background-color: #F5F5FA;
    border: 1px solid #ddd;
    border-radius: 1vw;
    z-index: 10;
    transition: all 0.5s;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.3vw, 5em);
}
.modal1 .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 4vw, 6em);
    user-select:none;
}
.modal1 input {
    padding: 0.3vw;
    border: 1px solid #ddd;
    border-radius: 0.3vw;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 2em);
    color: #111111;
}
.modal1 p {
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 2em);
    color: #1B244C;
    text-align: left;
    user-select:none;
}
.modal1 h3 {
    font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 2em);
    color: #1B244C;
    padding-top: 3%;
    margin: 0.1vw;
    user-select:none;
}
.modalagendamento {
    position: fixed;
    top: 5%;
    left: 30%;
    height: 90%;
    width: 40%;
    gap: 0.4rem;
    padding: 1.3rem;
    background-color: #F5F5FA;
    border: 1px solid #ddd;
    border-radius: 1vw;
    z-index: 10;
    transition: all 0.5s;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1.3vw, 5em);
}
.modalagendamento .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 4vw, 6em);
    user-select:none;
}
.modalagendamento input {
    padding: 0.3vw;
    border: 1px solid #ddd;
    border-radius: 0.3vw;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 2em);
    color: #111111;
}
.modalagendamento p {
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 2em);
    color: #1B244C;
    text-align: left;
    user-select:none;
}
.modalagendamento h3 {
    font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 2em);
    color: #1B244C;
    padding-top: 3%;
    margin: 0.1vw;
    user-select:none;
}
.modal3 {
    position: fixed;
    top: 5%;
    left: 30%;
    height: 90%;
    width: 40%;
    gap: 0.4rem;
    padding: 1.3rem;
    background-color: #F5F5FA;
    border: 1px solid #ddd;
    border-radius: 1vw;
    z-index: 10;
    transition: all 0.5s;
    user-select:none;
}
.modal3 .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal3 input {
    padding: 0.3vw;
    border: 1px solid #F5F5FA;
    border-radius: 0.3vw;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 2em);
    color: #0C0C0F;
}
.modal3 p {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 2em);
    color: #0F2C48;
    text-align: left;
}
.modal3 h3 {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 1vw, 3em);
    text-align: center;
    color: #0F2C48;
    margin: 0.1vw;
}
.modal3 textarea {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.2em + 0.7vw, 2em);
    color: #0C0C0F;
    max-width: 100%;
    padding: 10px;
    line-height: 1.5;
    
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
.modal3-conteudo {
    position: fixed;
    top: 14%;
    left: 31%;
    height: 79%;
    width: 38%;
    gap: 0.4rem;
    background-color: #F5F5FA;
    z-index: 10;
    overflow-y: scroll;
    
}
.modal3-info {
    position: relative;
    width: 100%;
    min-height: 13%;
    background-color: #ffffff;
    margin-top: 1.5%;
    padding-top: 1%;
    color: #0E1530;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.modal3-info:hover {
    background-color: #edffea !important;
}
.modal3-info:first-child {
    margin-top: 0%;
}
.modal3-conteudo::-webkit-scrollbar-thumb {
    background-color: #e1e1e5;
    border-radius: 0.2vw;
    border: 0.5vw solid #acacac;
}
.modal3-titulo {
    position: relative;
    padding-left: 4px;
    float: left;
    min-width: 60%;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    color: #1B244C;
}
.modal3-horario {
    position: relative;
    float: right;
    text-align: end;
    margin-top: 0.4%;
    margin-right: 1%;
    max-width: 25%;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    color: #0a0a0a;
}
.modal3-aviso {
    position: relative;
    margin: 2%;
    margin-top: 6%;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    color: #0a0a0a;
}
.btn {
    position: absolute;
    bottom: 2%;
    right: 2%;
    padding: 0.4vw 0.8vw;
    background-color: #1B244C;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    color: #F5F5FA;
    text-align: center;
    font-size: clamp(0.2em, 0.2em + 1vw, 2em);
}
.btn:hover {
    background-color: #318622;
    color: #F5F5FA;
}
.btn22 {
    position: absolute;
    bottom: 2%;
    right: 2%;
    padding: 0.4vw 0.8vw;
    background-color: #1B244C;
    border-radius: 5px;
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    color: #F5F5FA;
    text-align: center;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 2em);
}
.btn22:hover {
    background-color: #318622;
    color: #F5F5FA;
}
.btn-open {
    position: relative;
}

.btn-openagend {
    position: relative;
}

.btn-avisos {
    position: relative;
}
.btn-close {
    transform: translate(10px, -10px);
    margin-right:8px;
    height: 30px;
    width: 30px;
    font-size: clamp(0.2em, 0.2em + 0.2vw, 5em);
    background: #1B244C;
    color: #D9D9D9;
    border-radius: 30px;
}
.btn-close:hover {
    background: #0422aa;
}
.btn-close2 {
    transform: translate(10px, -10px);
    padding: 0.43rem 0.7rem;
    background: #2568aa;
    color: #D9D9D9;
    border-radius: 50%;
}
.btn-close2:hover {
    background: #1e5791;
}
.btn-close3 {
    transform: translate(10px, -10px);
    margin-right:5px;
    margin-top:5px;

    height: 30px;
    width: 30px;
    font-size: clamp(0.2em, 0.2em + 0.8vw, 5em) !important;
    background: #1B244C;
    color: #D9D9D9;
    border-radius: 30px;
}
.btn-close3:hover {
    background: #318622;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
}
.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.overlay3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.overlay4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.hidden {
    display: none;
}
.placehold {
    text-align: left;
    width: 100%;
    height: 6%;
    border:2px solid #ddd;
    border-radius: 4px;
    &:focus, &:focus + .fa{
        border-color:#6e9c03;
        color:#6e9c03;
    }
}
.placeholdl {
    margin-top:5px;
    float: left;
    text-align: left;
    width: 45%;
    height: 6%;
}
.placeholdr {
    margin-top:5px;
    float: right;
    text-align: left;
    width: 45%;
    height: 6%;
}
.placeholdt {
    float: left;
    margin-top: 10px;
    position: relative;
    text-align: left;
    width: 100%;
}
.dadoscadastros2 table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.dadoscadastros2 th {
    border-top: 15px solid transparent;
    border-bottom: 2px solid #3e3e3e;
    border-collapse: collapse;
    background-color: #ffffff00;
    text-align: center;
}

.dadoscadastros2 td {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}
.dadoscadastros2 tr:hover{
    background-color: #ffe262;
}

.dadoscadastros2 tr:nth-child(even) {
    background-color: #ffec99;
}

.dadoscadastros2 tr:nth-child(odd) {
    background-color: #fff5c8;
}

.dadoscadastros2 caption {
    border-collapse: collapse;
}
.dadoscadastros2 thead {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.72vw, 3em);
    color: #0C0C0F;
    text-align: center;
}

.gestaocadastros-table-qtd2 {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.7vw, 3em);
    color: #0C0C0F;
    width: 20%;
    text-align:center;
}


.dadoscadastros table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.dadoscadastros th {
    border-top: 5px solid transparent;
    border-bottom: 2px solid #3e3e3e;
    border-collapse: collapse;
    background-color: #ffffff00;
    text-align: center;
}

.dadoscadastros td {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
}
.dadoscadastros tr:hover{
    background-color: #ffe262;
}

.dadoscadastros tr:nth-child(even) {
    background-color: #ffec99;
}

.dadoscadastros tr:nth-child(odd) {
    background-color: #fff5c8;
}

.dadoscadastros caption {
    border-collapse: collapse;
}
.dadoscadastros thead {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.95vw, 3em);
    color: #0C0C0F;
    text-align: center;
}
.gestaocadastros-table {
    position: relative;
    width: 99%;
    padding-top: 0.1%;
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.35vw, 3em);
    color: #0C0C0F;
    text-align: center;
}
.gestaocadastros-table-qtd {
    font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 5%;
    text-align:center;
}
.gestaocadastros-table-nome {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 15%;
}
.gestaocadastros-table-data {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #252525;
    width: 15%;
}
.gestaocadastros-table-email {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 15%;
}
.gestaocadastros-table-celular {
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 1.6vw, 3em);
    color: #1B244C;
    width: 15%;
    cursor:pointer;
}
.gestaocadastros-table-celular:hover {
    color: #1254e4;
}
.gestaocadastros-table-celular2 {
    font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 1.2vw, 3em);
    color: #1B244C;
    width: 5%;
    cursor:pointer;
}
.gestaocadastros-table-celular2:hover {
    color: #1254e4;
}

.gestaocadastros-table-prof {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 10%;
    text-align:center;
}
.gestaocadastros-table-esp {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 10%;
    text-align:center;
}
.gestaocadastros-table-datpr {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #0C0C0F;
    width: 10%;
}
.gestaocadastros-table-com {
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 0.3em + 0.9vw, 3em);
    color: #1B244C;
    width: 60%;
}


#tipo_ingresso_label {
    color: black;
}